# Скопируй этот файл в .env и заполни своими значениями из Supabase
# Project Settings -> API

VITE_SUPABASE_URL=https://dsjbrxvtvorzmzwtzobd.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_S6Q3uY8w045PnXRhWSPiLg_IIQgFnkU
